name: push nuget

on:
  release:
    types: [published]

jobs:

  build:
    runs-on: windows-latest
    timeout-minutes: 5

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Install .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x

    - name: Setup msbuild
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Build Solution
      run: dotnet build -c Release

    - name: Execute unit tests
      run: dotnet test -c Release --no-build
      
    - name: Pack nuget
      run: |
        dotnet pack -c Release --no-build --output "${{ github.workspace }}/publish"

    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: nuget packages
        path: ${{ github.workspace }}/publish